@font-face {
  font-family: "Helvetica Neue Bold";
  src: url(/styles/fonts/HelveticaNeueBold.ttf) format(truetype);
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url(/styles/fonts/helveticaNeueLight.ttf) format(truetype);
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url(/styles/fonts/helveticaNeueMedium.ttf) format(truetype);
}

@font-face {
  font-family: "Gotham Bold";
  src: url(/styles/fonts/GothamBold.otf) format(opentype);
}

@font-face {
  font-family: "Gotham Rounded Light";
  src: url(/styles/fonts/GothamRoundedLight.otf) format(opentype);
}

.helvetica-b {
  font-family: "Helvetica Neue Bold" !important;
}

.helvetica-l {
  font-family: "Helvetica Neue Light" !important;
}

.helvetica-m {
  font-family: "Helvetica Neue Medium" !important;
}

.gotham-b {
  font-family: "Gotham Bold" !important;
}

.gotham-r {
  font-family: "Gotham Rounded Light" !important;
}

.red {
  color: #d35266 !important;
}

.grey {
  color: #888888 !important;
}

.lightgrey {
  color: #f0f0f0 !important;
}

.black {
  color: #383838 !important;
}

.bg-red {
  background-color: #d35266 !important;
}

.bg-grey {
  background-color: #888888 !important;
}

.bg-lightgrey {
  background-color: #f0f0f0 !important;
}

.bg-black {
  background-color: #383838 !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 550px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #d35266 !important;
}

main {
  margin-top: 120px;
}

.o-35 {
  opacity: 0.35;
}

.ts-red {
  text-shadow: 1px 1px #d35266;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  font-size: 25px;
  transform: rotate(-45deg);
  color: #d35266;
  vertical-align: sub;
}

.icons {
  font-size: 23px;
  color: #d35266;
  padding-top: 5px;
}

.burger > button {
  border: none;
  background-color: #383838;
}

.burger > button > div {
  height: 3px;
  width: 23px;
  background-color: #d35266;
  margin: 5px;
  cursor: pointer;
}

.nav-links {
  top: 49px;
  width: 100%;
  position: absolute;
  background-color: #383838;
  justify-content: left;
  opacity: 0.9;
}

.size-25 {
  font-size: 20px;
}

.list-group-item1 {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.discount {
  position: absolute;
  background-color: #d35266;
  color: #383838;
  font-weight: bold;
  right: 0px;
  bottom: 0px;
  padding: 5px;
  opacity: 0.9;
  width: 55px;
  text-align: center;
}

.img-featured {
  width: 300px;
  height: 300px;
}

.card {
  width: 18rem;
  font-size: 100%;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
  max-width: 18vh;
  max-height: 18vh;
  margin: 0 auto;
}

.card-title {
  font-size: 90%;
  flex-shrink: 1;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-text:hover {
  white-space: initial;
}

.social {
  font-size: 25px;
}

.i-bottom {
  font-size: 13px;
  vertical-align: middle;
}

.btn-outline-secondary:hover {
  color: #d35266 !important;
}

.glow-red {
  color: #d35266;
  animation: glow 1s ease-in-out infinite alternate;
}

.glow-black {
  color: #383838;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px #d35266, 0 0 40px #d35266, 0 0 50px #d35266;
  }
  to {
    text-shadow: 0 0 20px #d35266, 0 0 30px #d35266, 0 0 40px #d35266, 0 0 50px #d35266, 0 0 60px #d35266;
  }
}

@media screen and (min-width: 768px) {
  body {
    min-width: 1024px;
  }
  .top-nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
  }
  .bg-header {
    background-image: url(/images/header.jpg);
    width: 100%;
    height: 240px;
    padding-bottom: 15%;
    background-color: #d35266;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .red-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom right, #d35266, #c27979, #d35266);
    opacity: 0.9;
  }
  .games-repository {
    min-width: 732px;
    max-width: 900px;
    margin: 0 auto;
  }
  .card {
    width: 18rem;
    font-size: 100%;
  }
  .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 100%;
  }
  .card-text:hover {
    white-space: initial;
  }
}
/*# sourceMappingURL=style.css.map */