$helvetica-b: 'Helvetica Neue Bold';
$helvetica-l: 'Helvetica Neue Light';
$helvetica-m: 'Helvetica Neue Medium';
$gotham-b: 'Gotham Bold';
$gotham-r: 'Gotham Rounded Light';

@font-face {
    font-family: $helvetica-b;
    src: url(/styles/fonts/HelveticaNeueBold.ttf) format(truetype);
}

@font-face {
    font-family: $helvetica-l;
    src: url(/styles/fonts/helveticaNeueLight.ttf) format(truetype);
}

@font-face {
    font-family: $helvetica-m;
    src: url(/styles/fonts/helveticaNeueMedium.ttf) format(truetype);
}

@font-face {
    font-family: $gotham-b;
    src: url(/styles/fonts/GothamBold.otf) format(opentype);
}

@font-face {
    font-family: $gotham-r;
    src: url(/styles/fonts/GothamRoundedLight.otf) format(opentype);
}

.helvetica-b {
    font-family: $helvetica-b;
  }
  
  .helvetica-l {
    font-family: $helvetica-l;
  }
  
  .helvetica-m {
    font-family: $helvetica-m;
  }
  
  .gotham-b {
    font-family: $gotham-b;
  }
  
  .gotham-r {
    font-family: $gotham-r;
  }