aside {
  width: 35%;
  height: 100%;
  padding: 5px 10px 0px 10px;
}

body {
  min-width: 767px;
  background-color: $lightgrey !important;
}

.s-main {
  margin-top: 120px;
  width: 80%;
  margin: 40px auto 10px;
}

.img-search {
  display: block;
  max-width: 228px;
  min-width: 228px;
  width: 228px;
  height: 100%;
}

/* CHECKBOXES */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  }
  
.checkmark {
  position: absolute;
  top: 0;
  left: -1vh;
  height: 15px;
  width: 15px;
  background-color: $black;
  opacity: 0.9;
  }
  
.container:hover input ~ .checkmark {
  background-color: $black;
  opacity: 0.9;
  }
  
.container input:checked ~ .checkmark {
  background-color: $black;
  opacity: 0.9;
  }
  
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  }
  
.container input:checked ~ .checkmark:after {
  display: block;
  }

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid $red;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }

  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $red !important;
    border-color: $red !important;
  }

  .page-item .page-link {
    z-index: 3;
    color: $red;
    background-color: white !important;
    border-color: $red !important;
  }